<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD Config 3.0//EN" "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
	<typeAliases>
		<!--
		<typeAlias alias="companyDTO" type="com.test.dto.CompanyDTO"></typeAlias>
		-->
	</typeAliases>
	<mappers>
		<mapper resource="mybatis/mapper/company.xml" />
		<mapper resource="mybatis/mapper/customer.xml" />
		<mapper resource="mybatis/mapper/pet.xml" />
		<mapper resource="mybatis/mapper/reservation.xml" />
		<mapper resource="mybatis/mapper/review.xml" />
        <mapper resource="mybatis/mapper/chatroom.xml" />
        <mapper resource="mybatis/mapper/superuser.xml" />
        <mapper resource="mybatis/mapper/qna.xml" />
        <mapper resource="mybatis/mapper/notice.xml" />
	</mappers>
</configuration>